/**
--CLASS: MS587
--NAME: Thomas Wallace
--PROJECT: FINAL PROJECT
--DESC: 
--		This is the SQL for Creating VIEWS
--=========================================================================================================
--	Change Date -INIT- Description of Change
--=========================================================================================================
--	10/17/2020 - TCW - CREATED INITIAL SQL LAYOUT
--
*/

USE SLOC_DB
Go

CREATE OR ALTER VIEW dbo.V_USER_INFO_ALL 
AS
	--SHOWS ENCRYPTED DATA
	Select 
		UI.USER_ID
		,UI.USER_FNAME
		,UI.USER_LNAME 
		,UI.USER_PHONE 
		,CONVERT(varchar(60),DECRYPTBYKEYAUTOASYMKEY(ASYMKEY_ID('SLOCDB_AsymKey'), NULL, U.USER_EMAIL )) USER_EMAIL
		,CONVERT(varchar(40),DECRYPTBYKEYAUTOASYMKEY(ASYMKEY_ID('SLOCDB_AsymKey'), NULL, U.USER_PWD)) USER_PWD
		,UI.SEC_QID_1
		,dbo.fnc_GetSecurityQuestion(UI.SEC_QID_1) as SEC_QUESTION_1_TXT
		,CONVERT(varchar(100),DECRYPTBYKEYAUTOASYMKEY(ASYMKEY_ID('SLOCDB_AsymKey'), NULL, U.SEC_QID_1)) SEC_QUEST_ANS_1
		,UI.SEC_QID_2
		,dbo.fnc_GetSecurityQuestion(UI.SEC_QID_2) as SEC_QUESTION_2_TXT
		,CONVERT(varchar(100),DECRYPTBYKEYAUTOASYMKEY(ASYMKEY_ID('SLOCDB_AsymKey'), NULL, U.SEC_QID_2)) SEC_QUEST_ANS_2
		,UI.SEC_QID_3
		,dbo.fnc_GetSecurityQuestion(UI.SEC_QID_3) as SEC_QUESTION_3_TXT
		,CONVERT(varchar(100),DECRYPTBYKEYAUTOASYMKEY(ASYMKEY_ID('SLOCDB_AsymKey'), NULL, U.SEC_QID_3 )) SEC_QUEST_ANS_3
		,dbo.fnc_CommonCodeTXT(UI.USER_VRFY_PREF_CD,'VRFY_PRF') USER_VRFY_PREF  
		,CASE WHEN UI.USER_ACT_VRFY=1 THEN 'VERIFIED' ELSE ' UNVERIFIED' END USER_ACT_VRFY
		,CASE WHEN U.USER_ACCT_LCK=1 THEN 'LOCKED!' ELSE 'UnLocked' END USER_ACCT_LCK
		,U.USER_LST_LOGIN_TS
		,U.USER_LOGIN_FAIL_DT
		,U.USER_LOGIN_FAIL_CNT
		,CASE WHEN UI.REC_CRTE_TS >= U.LST_UPDT_TS THEN UI.REC_CRTE_TS ELSE U.REC_CRTE_TS END REC_CRTE_TS 
		,CASE WHEN UI.REC_CRTE_TS >= U.REC_CRTE_TS THEN UI.REC_CRTE_USER_ID ELSE U.REC_CRTE_USER_ID END REC_CRTE_USER_ID
		,CASE WHEN UI.LST_UPDT_TS >= U.LST_UPDT_TS THEN UI.LST_UPDT_TS ELSE U.LST_UPDT_TS END LST_UPDT_TS 
		,CASE WHEN UI.LST_UPDT_TS >= U.LST_UPDT_TS THEN UI.LST_UPDT_USER_ID ELSE U.LST_UPDT_USER_ID END LST_UPDT_USER_ID
	FROM 
		dbo.USER_INFO UI WITH (NOLOCK)
		INNER JOIN dbo.USERS U WITH (NOLOCK)
		ON UI.USER_ID = U.USER_ID
		
Go